    <footer class="footer block-padding">
        <div class="footer__body container">
            <div class="footer__outer">
                <div class="footer__column">
                    <div class="footer__logos">
                        <div class="footer__logo">
                            <img src="img/logo_scm.png" alt="" class="footer__logo-img">
                        </div>
                        <div class="footer__logo">
                            <img src="img/logo_fs.png" alt="" class="footer__logo-img">
                        </div>
                    </div>
                    <div class="footer__socials">
                        <div class="footer__socials-title text text--white text--normal text--w-medium">
                            Подписывайтесь!
                        </div>
                        <div class="footer__socials-items">
                            <a href="https://www.youtube.com/@intervesp_ru" class="footer__social text text--normal text--w-medium" target="_blank">
                                YouTube
                            </a>
                            <a href="https://vk.com/intervespstanki" class="footer__social text text--normal text--w-medium" target="_blank">
                                VK
                            </a>
                            <a href="https://t.me/intervesp_ru" class="footer__social text text--normal text--w-medium" target="_blank">
                                Telegram
                            </a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <div class="footer__col-title text text--white text--large text--w-medium">
                        Меню
                    </div>
                    <nav class="footer__menu menu">
                        <ul class="footer__menu-list menu__list">
                            <li class="footer__menu-item menu__item">
                                <a href="#about" class="footer__menu-link menu__link">
                                    О мероприятии
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="#video" class="footer__menu-link menu__link">
                                    Видео
                                </a>
                            </li>
                            <li class="footer__menu-item menu__item">
                                <a href="#foto" class="footer__menu-link menu__link">
                                    Фото
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column">
                    <div class="footer__col-title text text--white text--large text--w-medium">
                        Контакты организатора
                    </div>
                    <div class="footer__info text text--normal text--w-medium">
                        Россия 141032, Московская область,
                        <br>
                        Мытищинский район,
                        <br>
                        деревня Беляниново,
                        <br>
                        Промышленный проезд, 22.
                        <br>
                        +7 (499) 346-75-22
                        <br>
                        8-800-5555-100
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="js/scripts.min.js"></script>
</body>
</html>