<header class="header">
    <div class="header__body container">
        <div class="header__outer">
            <div class="header__logo logo">
                <img src="img/logo_scm.png" alt="" class="header__logo-img logo__img">
            </div>
            <nav class="header__menu menu js-menu">
                <ul class="header__menu-list menu__list">
                    <li class="header__menu-item menu__item">
                        <a href="#about" class="header__menu-link menu__link">
                            О мероприятии
                        </a>
                    </li>
                    <li class="header__menu-item menu__item">
                        <a href="#foto" class="header__menu-link menu__link">
                            Фото
                        </a>
                    </li>
                    <li class="header__menu-item menu__item">
                        <a href="#video" class="header__menu-link menu__link">
                            Видео
                        </a>
                    </li>
                    <li class="header__menu-item menu__item">
                        <a href="#contacts" class="header__menu-link menu__link">
                            Контакты
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="header__burger-menu burger-menu js-burger">
                <span class="burger-menu__line"></span>
            </div>
        </div>
    </div>
</header>