:root {
	--color-white: #FFFFFF;
	--color-black: #000;
	--color-blue: #00A0E3;
	--color-green: rgb(0, 171, 71);
	--color-dark-green: #73A51F;
	--color-invalid: #e61d1d;
	--color-yellow: #fbc200;
    --font-roboto: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}