.video__item {
  position: relative;
}

.video__outer {
  position: relative;
}

.video__heading {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  @include mobile(top, 30px);
}

.video__item {
  text-decoration: none;
  display: block;
}

.video__img-item {
  display: block;
  //width: 100vw;
  height: 100vh;
  object-fit: cover;
  @include mobile(height, 100%)
}

.video__play-icon {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include mobile-block {
    width: 50px;
    height: 50px;
  }
}